<body>
    <nav class="h-20 flex items-center justify-between">
        <a href="">
            <img class="h-28" src="https://download.logo.wine/logo/LinkedIn/LinkedIn-Logo.wine.png" alt="logo">
        </a>
        <div class="flex items-center gap-2">
            <div class="flex items-center gap-10 mr-5">
                <a href="">
                    <div class="flex flex-col items-center">
                        <span class="text-2xl"><i class="ri-article-line"></i></span>
                        <span>Article</span>
                    </div>
                </a>
                <a href="">
                    <div class="flex flex-col items-center">
                        <span class="text-2xl"><i class="ri-group-fill"></i></span>
                        <span>People</span>
                    </div>
                </a>
                <a href="">
                    <div class="flex flex-col items-center">
                        <span class="text-2xl"><i class="ri-briefcase-4-fill"></i></span>
                        <span>Jobs</span>
                    </div>
                </a>
            </div>
            <a class="px-8 py-4 font-bold text-gray-500 rounded-full hover:bg-gray-100 hover:text-black" href="">Join
                now</a>
            <a class="px-8 py-4  rounded-full font-bold text-blue-500 border-2 border-blue-500" href="">Sign in</a>
        </div>
    </nav>
</body>