<% layout("/layouts/boilerplate") %>

    <body class="max-h-full">
        <img class="absolute bottem-0 right-0" src="https://static.licdn.com/aero-v1/sc/h/dxf91zhqd2z6b0bwg85ktm5s4"
            alt="">
        <h1 class="text-5xl mt-14 text-gray-600">Welcome to your</h1>
        <h1 class="text-5xl text-gray-600 mt-5">professional community</h1>

        <div class="flex flex-col w-1/4 mt-10">
            <div class="flex flex-col justify-center">

                <div>
                    <form class="space-y-6" action="#" method="POST">
                        <div>
                            <label for="email" class="block text-sm/6 font-medium text-gray-900">Email address</label>
                            <div class="mt-2">
                                <input type="email" name="email" id="email" autocomplete="email" required
                                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6">
                            </div>
                        </div>

                        <div>
                            <div class="flex items-center justify-between">
                                <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
                                <div class="text-sm">
                                    <a href="#" class="font-semibold text-blue-600 hover:text-blue-600">Forgot
                                        password?</a>
                                </div>
                            </div>
                            <div class="mt-2">
                                <input type="password" name="password" id="password" autocomplete="current-password"
                                    required
                                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6">
                            </div>
                        </div>

                        <div>
                            <button type="submit"
                                class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Log
                                in</button>
                        </div>
                    </form>

                    <p class="text-sm mt-5 text-center">By clicking Continue to join or sign in, you agree to LinkedIn’s
                        <span class="text-blue-600 font-semibold">User Agreement, Privacy Policy,</span>
                        and <span class="text-blue-600 font-semibold"> Cookie Policy.</span>
                    </p>

                    <p class="text-center mt-5">New to LinkedIn? <span class="text-blue-600 font-semibold">Join
                            now</span> </p>
                </div>
            </div>

        </div>


    </body>